$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "default.css";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background:url(../images/pow.jpg) no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.header {
  font-style: oblique;
  background-color: #428bca;
  border: solid 1px;
  border-radius: 5px;
  width: 180px;
}

#bg {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

.comic-table {
  border: solid 1px;
  border-radius: 5px;
}

.container {
	max-width: 730px;
}

.navbar-default {
	background-color: #428bca;
	border-color: #428bca;
    border: solid 1px;
	border-radius: 5px;
}

.navbar-default .navbar-nav > li > a {
	color: #0D0D0D;
}

.panel-primary {
	border: solid 1px;
}

.row {
	background-color: #f9f9f9;
}

.ctable {
	margin: 0 0 0 0;
  border: solid 2px black;
}

.trow {
  border-bottom: solid 2px black;
}

.text-font {
	font: 13px sans-serif;
}

.text-header {
	background-color: #428bca !important;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
   background-color: white;
   border-color: black;
}

.chart-backgroung-color {
  background-color: white;
}

.comicNodes-enter {
  opacity: 0.00;
  transition: all .5s ease;
}

.comicNodes-enter.comicNodes-enter-active {
  opacity: 1;
}
