$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

#sidebar-wrapper {
    background-color: #222;
    min-width: 150px;
    border: solid 1px #222;
    top: 50px;
    position: absolute;
    height: 100%;
};

#table {
	position:absolute;
	left:200px;
	top:100px;
};

#newTableEntry {
    position: relative;
    top: 80px;
};

.navbar-fixed-top{
	height: 80px;
}

.right {
     height: 80px;
     position: absolute;
    // float: right;
}

#addInput {
    height: 80px;
    position: relative;
};

.table {
    top: 250px;
};

